.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form1 {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #EFF5FE;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

  .contact-form1 input,
  .contact-form1 textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
  }

  .contact-form1 textarea {
    height: 150px;
  }

  .contact-form1 button {
    background-color: #007BFF;
    color: white;
    font-size: 1.1rem;
    padding: 12px 20px;
    border-radius: 50px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .contact-form1 button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .contact-form1 input[type="file"] {
    display: block;
    margin-top: 10px;
    padding: 5px;
  }

  .image-preview {
    width: 100px;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
  }

  .file-name {
    display: block;
    margin-top: 10px;
    color: #666;
  }